In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/02/28 15:21:22 WARN Utils: Your hostname, oladeMacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.0.102 instead (on interface en0)
24/02/28 15:21:22 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/28 15:21:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/02/28 15:21:37 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [2]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [4]:
#Pandas DataFrame，没有 withColumnRenamed() 方法
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [5]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [6]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

# 统一两个表的列顺序

In [16]:
common_colums1 = []

#yellow_columns = set(df_yellow.columns)#yellow_columns格式是set{'DOLocationID'};df_green.columns格式是list['DOLocationID']

for col in df_green.columns:
    if col in df_yellow.columns:
        common_colums1.append(col)

In [17]:
common_colums1

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [21]:
print(common_colums1==common_colums)

True

In [7]:
common_colums = []

yellow_columns = set(df_yellow.columns)#yellow_columns格式是set{'DOLocationID'};df_green.columns格式是list['DOLocationID']

for col in df_green.columns:
    if col in yellow_columns:
        common_colums.append(col)

In [8]:
from pyspark.sql import functions as F

In [9]:
df_green_sel = df_green \
    .select(common_colums) \
    .withColumn('service_type', F.lit('green'))

In [10]:
df_yellow_sel = df_yellow \
    .select(common_colums) \
    .withColumn('service_type', F.lit('yellow'))

In [11]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [13]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [14]:
df_trips_data.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge',
 'service_type']

In [25]:
df_trips_data.createOrReplaceTempView('trips_data')

In [26]:
spark.sql("""
SELECT
    service_type,
    count(1)
FROM
    trips_data
GROUP BY 
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [31]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [32]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         252|2020-02-01 00:00:00|       green|   4542.540000000001|                289.5|                   22.0|                     16.52|           265.4500000000001|                    43.20000000000006|                     5181.16|                                 0.0|        1.1111111111111112|       7.692185430463576|
|         206|2020-02-01 00:00:00|       green|              829.97|                 33.0|                    1.5|                     23.34|                      190.88|                                  4.5|                     1083.19|                                 0.0|                       1.0|      15.768666666666663|
|         173|2020-01-01 00:00:00|       green|            15830.27|                862.0|                  377.0|                    262.91|           384.5300000000002|                    297.3000000000055|           18040.70999999979|                               30.25|        1.4243589743589744|       3.201485608170845|
|          31|2020-01-01 00:00:00|       green|  2036.7800000000004|                104.5|                   28.5|                    133.47|           68.55999999999999|                   27.900000000000045|          2427.2099999999996|                                27.5|        1.1551724137931034|       5.635959595959594|
|         126|2020-02-01 00:00:00|       green|             7159.77|                583.0|                   80.0|                     29.73|          234.44000000000005|                    97.49999999999972|           8191.340000000005|                                 0.0|        1.1764705882352942|         4.2802216066482|
|         246|2020-02-01 00:00:00|       green|              505.92|                 38.5|                    0.0|                      6.32|          26.759999999999998|                    4.199999999999999|                       581.7|                                 0.0|                       2.0|      11.361428571428572|
|          38|2020-01-01 00:00:00|       green|  12386.740000000013|                698.0|                   67.0|                       0.0|           281.5200000000001|                   116.69999999999925|          13549.959999999981|                                 0.0|        1.2823529411764707|        7.61892523364486|
|         165|2020-01-01 00:00:00|       green|  24802.129999999976|               1549.0|                  189.5|        101.14999999999999|           495.9500000000004|                   268.80000000000445|           27427.27999999993|                                11.0|        1.1891891891891893|       4.462666025024065|
|         265|2020-02-01 00:00:00|       green|  12431.599999999997|   359.09000000000003|                  118.0|        353.03000000000003|           461.3600000000001|                    98.69999999999966|          13827.279999999995|                                2.75|        1.5217391304347827|        8.64527472527472|
|          92|2020-01-01 00:00:00|       green|   67252.83999999984|              2700.75|                 1326.0|        3052.7699999999986|           1289.559999999996|                   1034.9999999999345|           76792.72000000258|                              129.25|        1.1726539589442815|       4.553793490460165|
|         215|2020-02-01 00:00:00|       green|   25575.92000000004|               1957.0|                  101.0|                     23.36|           708.0100000000004|                    238.2000000000007|          28619.789999999986|                                 5.5|        1.2751322751322751|       6.560034602076126|
|           7|2020-01-01 00:00:00|       green|  169074.51999999958|              7929.25|                 7443.5|        12952.749999999944|          1746.7599999999884|                    4730.700000001408|          207287.27999996912|                             3448.25|        1.4415973377703828|      2.2922463269771827|
|          40|2020-01-01 00:00:00|       green|   21433.21000000001|               880.75|                  778.5|         2839.890000000003|          329.47000000000014|                   491.10000000001287|          27650.519999999644|                              799.75|        1.2895077720207253|      2.9378884223155275|
|         237|2020-01-01 00:00:00|       green|  3895.6099999999997|                248.5|                    7.5|                       0.0|          176.44000000000005|                   31.500000000000053|                     4359.55|                                 0.0|                       1.0|      10.208504672897197|
|         114|2020-01-01 00:00:00|       green|  492.40999999999997|                 38.5|                    1.5|                       0.0|                       18.36|                    5.699999999999998|                      556.47|                                NULL|                      NULL|       6.400526315789474|
|         230|2020-01-01 00:00:00|       green|  1797.4100000000008|                121.0|                    3.0|                       0.0|           97.92000000000002|                   16.200000000000017|          2035.5300000000002|                                 0.0|                       1.0|       7.692142857142856|
|         113|2020-02-01 00:00:00|       green|   968.8999999999999|                 71.5|                    1.5|                       0.0|                       48.96|                    8.699999999999998|                     1099.56|                                 0.0|                       1.0|       8.582413793103449|
|          40|2020-02-01 00:00:00|       green|  21840.030000000013|                896.5|                  831.0|                   3179.43|           397.8000000000002|                    517.8000000000081|            28638.2599999998|                              967.75|        1.2492456246228123|       2.854406196213425|
|         197|2020-02-01 00:00:00|       green|   36114.84000000004|              1774.75|                  282.5|                    161.15|          1910.7399999999939|                   308.10000000000275|          40579.129999999815|                               19.25|         1.091254752851711|       8.781819029850755|
|         186|2020-02-01 00:00:00|       green|  1189.1799999999998|                105.0|                    4.0|                       0.0|                       72.41|                   10.499999999999996|          1381.0900000000001|                                 0.0|                       1.0|       8.831428571428573|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [18]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')

In [33]:
df_result.createOrReplaceTempView('trips_data_result')

In [29]:
df_result = spark.sql("""
SELECT 
   COUNT(DISTINCT revenue_zone)
FROM
    trips_data_result
""").show()

+----------------------------+
|count(DISTINCT revenue_zone)|
+----------------------------+
|                         263|
+----------------------------+