# question 1

In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/04 16:28:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/04 16:29:10 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [3]:
spark.version

'3.5.0'

24/03/01 20:24:01 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

# question 2

In [9]:
!head -n 1001 fhv_tripdata_2019-10.csv > head.csv

In [10]:
import pandas as pd

In [11]:
df_pandas = pd.read_csv('head.csv')

In [12]:
df_pandas.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID              float64
DOlocationID              float64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [13]:
spark.createDataFrame(df_pandas).show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|       264.0|       264.0|    NaN|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|       264.0|       264.0|    NaN|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|       264.0|       264.0|    NaN|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|       264.0|       264.0|    NaN|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|       264.0|       264.0|    NaN|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|       129.0|       129.0|    NaN|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|        57.0|        57.0|    NaN|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|       173.0|       173.0|    NaN|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|       226.0|       226.0|    NaN|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|        56.0|        56.0|    NaN|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|        82.0|        82.0|    NaN|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|       264.0|        71.0|    NaN|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|       264.0|        39.0|    NaN|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|       264.0|       188.0|    NaN|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|       264.0|        91.0|    NaN|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|       264.0|        71.0|    NaN|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|       264.0|        35.0|    NaN|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|       264.0|        61.0|    NaN|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|       264.0|       198.0|    NaN|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|       264.0|       264.0|    NaN|                   NaN|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [14]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', DoubleType(), True), StructField('DOlocationID', DoubleType(), True), StructField('SR_Flag', DoubleType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [ ]:
# Don't run this block!

types.StructField('dispatching_base_num', types.StringType(), True), 
types.StructField('pickup_datetime', types.TimestampType(), True), 
types.StructField('dropOff_datetime', types.TimestampType(), True), 
types.StructField('PUlocationID', types.IntegerType(), True), 
types.StructField('DOlocationID', types.IntegerType(), True), 
types.StructField('SR_Flag', types.StringType(), True), 
types.StructField('Affiliated_base_number', types.StringType(), True)

In [16]:
from pyspark.sql import types

In [17]:
schema = types.StructType(
    [
        types.StructField('dispatching_base_num', types.StringType(), True), 
        types.StructField('pickup_datetime', types.TimestampType(), True), 
        types.StructField('dropOff_datetime', types.TimestampType(), True), 
        types.StructField('PUlocationID', types.IntegerType(), True), 
        types.StructField('DOlocationID', types.IntegerType(), True), 
        types.StructField('SR_Flag', types.StringType(), True), 
        types.StructField('Affiliated_base_number', types.StringType(), True)
    ]
)

In [18]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv')

In [19]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   NULL|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   NULL|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   NULL|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   NULL|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   NULL|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   NULL|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   NULL|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   NULL|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   NULL|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   NULL|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   NULL|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   NULL|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   NULL|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   NULL|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   NULL|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   NULL|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [20]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', TimestampType(), True), StructField('dropOff_datetime', TimestampType(), True), StructField('PUlocationID', IntegerType(), True), StructField('DOlocationID', IntegerType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [21]:
df.repartition(6).write.parquet('2019/', mode='overwrite')

In [22]:
!ls -lh

total 234152
drwxr-xr-x@ 16 ola  staff   512B  3  1 20:34 2019
-rw-r--r--@  1 ola  staff   114M  3  1 20:07 fhv_tripdata_2019-10.csv
-rw-r--r--@  1 ola  staff    62K  3  1 20:26 head.csv
-rw-r--r--@  1 ola  staff    14K  3  1 20:33 homework.ipynb
-rw-r--r--@  1 ola  staff   2.3K  3  1 20:13 homework.md

# question 3

In [23]:
df.createOrReplaceTempView('trip_data')

In [25]:
df.count()

1897493

In [27]:
spark.sql("""
SELECT
    count(1)
FROM
    trip_data
WHERE
    date_format(pickup_datetime, 'yyyy-MM-dd') = '2019-10-15'
""").show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

# question 4

In [36]:
spark.sql("""
SELECT 
        date_format(pickup_datetime, 'yyyy-MM-dd') AS day,
        (unix_timestamp(dropOff_datetime)-unix_timestamp(pickup_datetime))/(60)/(60) as diff
FROM trip_data
ORDER BY diff DESC
LIMIT 1
""").show()

+----------+--------+
|       day|    diff|
+----------+--------+
|2019-10-28|631152.5|
+----------+--------+

In [34]:
spark.sql("""
SELECT 
        day,
        SUM(diff) AS hours
FROM
(
    SELECT 
        date_format(pickup_datetime, 'yyyy-MM-dd') AS day,
        (unix_timestamp(dropOff_datetime)-unix_timestamp(pickup_datetime))/(60)/(60) as diff   
    FROM
        trip_data
)t1
GROUP BY 1
ORDER BY hours DESC
""").show()

+----------+------------------+
|       day|             hours|
+----------+------------------+
|2019-10-11| 805220.1133333343|
|2019-10-28| 694429.8994444483|
|2019-10-01|289692.66472222214|
|2019-10-02| 237090.2983333332|
|2019-10-04|223166.19833333354|
|2019-10-03|216331.37305555952|
|2019-10-08| 195291.2244444438|
|2019-10-10|181641.00000000416|
|2019-10-07|180200.92555555468|
|2019-10-09|157091.54861110772|
|2019-10-15|156613.41277777776|
|2019-10-16| 139469.8480555554|
|2019-10-31| 135332.0700000001|
|2019-10-17|123055.31722222186|
|2019-10-23|113898.34916666623|
|2019-10-18| 105679.6805555555|
|2019-10-22| 103358.0411111111|
|2019-10-21| 98439.65888888933|
|2019-10-05|  94994.4538888886|
|2019-10-25| 91743.20888888788|
+----------+------------------+
only showing top 20 rows

In [30]:
spark.sql("""
SELECT
    date_format(pickup_datetime, 'yyyy-MM-dd')
FROM
    trip_data
GROUP BY
    date_format(pickup_datetime, 'yyyy-MM-dd')
ORDER BY date_format(pickup_datetime, 'yyyy-MM-dd')
""").show()

+----------------------------------------+
|date_format(pickup_datetime, yyyy-MM-dd)|
+----------------------------------------+
|                              2019-10-01|
|                              2019-10-02|
|                              2019-10-03|
|                              2019-10-04|
|                              2019-10-05|
|                              2019-10-06|
|                              2019-10-07|
|                              2019-10-08|
|                              2019-10-09|
|                              2019-10-10|
|                              2019-10-11|
|                              2019-10-12|
|                              2019-10-13|
|                              2019-10-14|
|                              2019-10-15|
|                              2019-10-16|
|                              2019-10-17|
|                              2019-10-18|
|                              2019-10-19|
|                              2019-10-20|
+----------------------------------------+
only showing top 20 rows

# question 6

In [37]:
df_zone = pd.read_csv('taxi_zone_lookup.csv')

In [39]:
df_zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [40]:
spark.createDataFrame(df_zone).schema

StructType([StructField('LocationID', LongType(), True), StructField('Borough', StringType(), True), StructField('Zone', StringType(), True), StructField('service_zone', StringType(), True)])

In [42]:
df_zone_s = spark.read \
    .option("header", "true") \
    .csv('taxi_zone_lookup.csv')

In [45]:
df_zone_s.schema

StructType([StructField('LocationID', StringType(), True), StructField('Borough', StringType(), True), StructField('Zone', StringType(), True), StructField('service_zone', StringType(), True)])

In [46]:
df_zone_s.createOrReplaceTempView('zone')

In [48]:
spark.sql("""
SELECT PUlocationID,Zone,
        count(1) AS trips  
FROM trip_data
LEFT JOIN zone
ON trip_data.PUlocationID=zone.LocationID
GROUP BY 1,2
ORDER BY trips
LIMIT 5
""").show()

+------------+--------------------+-----+
|PUlocationID|                Zone|trips|
+------------+--------------------+-----+
|           2|         Jamaica Bay|    1|
|         105|Governor's Island...|    2|
|         111| Green-Wood Cemetery|    5|
|          30|       Broad Channel|    8|
|         120|     Highbridge Park|   14|
+------------+--------------------+-----+

In [49]:
spark.sql("""
SELECT DOlocationID,Zone,
        count(1) AS trips  
FROM trip_data
LEFT JOIN zone
ON trip_data.DOlocationID=zone.LocationID
GROUP BY 1,2
ORDER BY trips
LIMIT 5
""").show()

+------------+--------------------+-----+
|DOlocationID|                Zone|trips|
+------------+--------------------+-----+
|         103|Governor's Island...|    1|
|         105|Governor's Island...|    3|
|         199|       Rikers Island|    4|
|           2|         Jamaica Bay|   14|
|          12|        Battery Park|   35|
+------------+--------------------+-----+

In [47]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   NULL|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   NULL|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   NULL|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   NULL|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   NULL|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   NULL|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   NULL|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   NULL|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   NULL|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   NULL|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   NULL|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   NULL|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   NULL|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   NULL|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   NULL|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   NULL|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [4]:
spark.sql(
    """
        select --week(20170703,1) as week_1,
        date_format(20170703,'%W') as week_day
    """
).show()

AnalysisException: [DATATYPE_MISMATCH.UNEXPECTED_INPUT_TYPE] Cannot resolve "date_format(20170703, %W)" due to data type mismatch: Parameter 1 requires the "TIMESTAMP" type, however "20170703" has the type "INT".; line 3 pos 8;
'Project [date_format(20170703, %W, Some(Asia/Shanghai)) AS week_day#4]
+- OneRowRelation

In [6]:
spark.sql("""
SELECT week(20170703) as week_1
""").show()

AnalysisException: [UNRESOLVED_ROUTINE] Cannot resolve function `week` on search path [`system`.`builtin`, `system`.`session`, `spark_catalog`.`default`].; line 2 pos 7

In [11]:
print(selectionSort([5, 3, 6, 2, 10]))

[2]
[2, 3]
[2, 3, 5]
[2, 3, 5, 6]
[2, 3, 5, 6, 10]
[2, 3, 5, 6, 10]